body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b9ea3;
}
.datosizq  {
  text-align: right;
  font-style: italic;
}
.negrilla {
  font-weight: bold;
}

.carta {
  background-color: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.cartatitulo {
  text-align: left;
  margin-bottom: 20px;
}

.carta-header h1 {
  margin: 0;
  color: #333;
}

.carta-body {
  line-height: 1.6;
}

.carta-body p {
  margin: 0 0 10px 0;
  color: #555;
}

#one {
  background-color: aqua;
}
.imagen img {
  width: 500px; 
  height: 500px; 
}

.imagen gif{

}

form, form ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;padding: 25px 0px 0px;gap: 28px;
}
  form ul {
  display: flex;flex-direction: column;
  justify-content: center;align-items: center;gap: 28px;
}
  form li {
    display: flex;flex-direction: column;justify-content: center;gap:12px
  }

  .input{
    width: 400px;background-color: rgb(216, 10, 10);
  }
  